doctype 5
html(lang="en" data-type="test")

  head
    title Hello
    p inline text
      | another text
    - $x = 1
    = $x
      . 'multi'
      . 'line'
    != $x

  body
    h1 title
    //
      block
      <comment>
    p.
      unformated
      | <text>
